@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


h1{
    font-family: 'Monoton', cursive;
    color: #0ccac4;
    font-weight: 400;
    font-size: 3vw;

}

.top-bar{
    margin-bottom: 20px;
    padding-top: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right, rgb(7,27,82,1), rgb(0,128,128,1));;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@media (max-width: 500px){
    h1{
        font-size: 1em;
    }
}
